{% extends '::base.html.twig' %}
{% block title %}Worst restaurants{% endblock %}
{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Worst restaurants</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Restaurant</th>
                    <th>Incidents</th>
                </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants %}
                    <tr>
                        <td>{{ restaurant.id }}</td>
                        <td>{{ restaurant.name }}</td>
                        <td>
                            {% for vote in 1..restaurant.cntIncidents %}
                                <i class="fi-info"></i>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
